* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}


button {
    cursor: pointer;
    border-radius: 15px 4px 15px 4px;
    border: none;
    font-weight: 600;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid red 2px; */
    height: 140px;
}

#logo {
    width: 120px;
    height: 90px;
    margin-top: 10px;
}

.link-nav {
    margin-left: 0px;
    padding-left: -10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: relative;
}

.link-nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 4px;
    background: rgba(254, 129, 14, 1);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 1s;

}

.link-nav:hover::after {
    transform-origin: left;
    transform: scaleX(1)
}

.btn-cadastro {
    width: 148px;
    height: 54px;
    background-color: black;
    color: white;
    position: relative;
}

.btn-cadastro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 4px 15px 4px;
    border: none;
    outline: 2px solid black;
    outline-offset: 3px;
    outline-width: 3px;
    animation: pulse 2s linear infinite;

}


.btn-login {
    width: 96px;
    height: 54px;
    background-color: rgba(254, 129, 14, 1);
    color: white;
    position: relative;
}

.btn-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 4px 15px 4px;
    border: none;
    outline: 2px solid rgba(254, 129, 14, 1);
    outline-offset: 3px;
    outline-width: 3px;
    animation: pulse 2s linear infinite;

}




.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.apresentacao img {
    height: 500px;

}


.msg-apresentacao {
    display: flex;
    flex-direction: column;
}

.msg-apresentacao p {
    font-size: 22px;
}

.msg-corpo {
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    /* line-height: 2; */
    position: relative;

}


.msg-corpo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./img/mesa_decorada.jpg);
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

.msg-corpo h3 {
    font-size: 38px;
    font-family: sans-serif;
}

.msg-corpo p {
    font-size: 22px;
    font-family: sans-serif;
}


.btn-gift {
    width: 450px;
    height: 54px;
    background-color: rgba(254, 129, 14, 1);
    color: white;
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px 4px 15px 4px;
    border: none;
    font-weight: 600;
    margin-left: 35%;
    position: relative;
}

.btn-gift::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 4px 15px 4px;
    border: none;
    outline: 2px solid rgba(254, 129, 14, 1);
    outline-offset: 3px;
    outline-width: 3px;
    animation: pulse 2s linear infinite;

}





.rodape {
    margin-top: 80px;
    background-color: rgb(221, 241, 237);
    height: 250px;
}

.rodape h3 {
    font-size: 30px;
}

.rodape p {
    font-size: 20px;
}

.flex-rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tel {
    font-size: 20px;
    font-weight: 600;
}

.email {
    font-size: 20px;
    font-weight: 600;
}

.nav-rodape h3 {
    margin-top: 50px;
}

.nav-rodape-coluna {
    display: flex;
    margin-left: -20px;

}

.nav-rodape-left {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}


.nav-rodape-right {
    display: flex;
    flex-direction: column;
}


.link_nav_footer {
    width: fit-content;
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    position: relative;
}

.link_nav_footer::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: rgba(254, 129, 14, 1);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 1s;

}

.link_nav_footer:hover::after {
    transform-origin: left;
    transform: scaleX(1)
}


.siga-rodape {
    margin-bottom: 35px;
}

.siga {
    margin-top: 0px;
}


.siga-rodape i {
    margin-top: 15px;
    margin-right: 10px;
}

.fa-facebook {
    font-size: 30px;
    color: rgb(66 103 178);

}

.fa-x-twitter {
    font-size: 30px;
    color: rgb(37, 40, 41);
}

.fa-instagram {
    font-size: 30px;
    color: rgb(131 58 180);
}

@keyframes pulse {
    0% {
        outline-offset: 3px;
        opacity: 1;
    }

    100% {
        outline-offset: 15px;
        opacity: 0;
    }
}