html {
    font-size: 62.5%;
    box-sizing: border-box;
}


*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.3rem;

}


button {
    cursor: pointer;
    border-radius: 15px 4px 15px 4px;
    border: none;
    font-weight: 600;
}



.titulo,
.corpo-texto {
    text-align: center;
}

.reserva-mesa {
    margin-left: 35%;
}

#data-reserva {
    margin-right: 1.5rem;
}

#hora-reserva {
    margin-right: 1.5rem;
}

#qtd-pessoas {
    margin-right: 1.5rem;
}

.btn_reserva {
    width: 10.5em;
    height: 3em;
    background-color: rgba(254, 129, 14, 1);
    color: white;
    cursor: pointer;
    border-radius: 15px 4px 15px 4px;
    border: none;
    font-weight: 600;
    font-size: 2rem;
    position: relative;
}

.btn_reserva::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 4px 15px 4px;
    border: none;
    outline: 2px solid rgba(254, 129, 14, 1);
    outline-offset: 3px;
    outline-width: 3px;
    animation: pulse 2s linear infinite;

}



@keyframes pulse {
    0% {
        outline-offset: .3rem;
        opacity: 1;
    }

    100% {
        outline-offset: 1.5rem;
        opacity: 0;
    }
}