html {
    font-size: 62.5%;
    box-sizing: border-box;
}


*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}


button {
    cursor: pointer;
    border-radius: 15px 4px 15px 4px;
    border: none;
    font-weight: 600;
}



.form_label {
    margin-top: 1rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    font-size: 2rem;
}


.dica-nome {
    position: relative;
}

.dica-nome::before {
    content: '?';
    position: absolute;
    top: -2.2rem;
    left: 16rem;
    z-index: 1;
}

.dica-nome::after {
    content: '';
    position: absolute;
    top: -2.2rem;
    left: 15.27rem;
    background-color: orange;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
}

.dica-nome:hover .dica-nome-texto {
    display: block;
}

.dica-nome-texto {
    position: absolute;
    left: 18rem;
    top: -2.1rem;
    display: none;
    color: red;
}


.dica-email {
    position: relative;
}

.dica-email::before {
    content: '?';
    position: absolute;
    top: -2.3rem;
    left: 6.5rem;
    z-index: 1;
}

.dica-email::after {
    content: '';
    position: absolute;
    top: -2.3rem;
    left: 5.76rem;
    background-color: orange;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
}

.dica-email:hover .dica-email-texto {
    display: block;
}

.dica-email-texto {
    position: absolute;
    left: 8.5rem;
    top: -2.1rem;
    display: none;
    color: red;
}


.dica-cel {
    position: relative;
}

.dica-cel::before {
    content: '?';
    position: absolute;
    top: -2.2rem;
    left: 14.6rem;
    z-index: 1;
}

.dica-cel::after {
    content: '';
    position: absolute;
    top: -2.2rem;
    left: 13.87rem;
    background-color: orange;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
}

.dica-cel:hover .dica-cel-texto {
    display: block;
}

.dica-cel-texto {
    position: absolute;
    left: 16.5rem;
    top: -2.1rem;
    display: none;
    color: red;
}


.dica-assunto {
    position: relative;
}

.dica-assunto::before {
    content: '?';
    position: absolute;
    top: -2.2rem;
    left: 9rem;
    z-index: 1;
}

.dica-assunto::after {
    content: '';
    position: absolute;
    top: -2.2rem;
    left: 8.27rem;
    background-color: orange;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
}

.dica-assunto:hover .dica-assunto-texto {
    display: block;
}

.dica-assunto-texto {
    position: absolute;
    left: 11rem;
    top: -2.1rem;
    display: none;
    color: red;
}


.dica-msg {
    position: relative;
}

.dica-msg::before {
    content: '?';
    position: absolute;
    top: -2.2rem;
    left: 11.33rem;
    z-index: 1;
}

.dica-msg::after {
    content: '';
    position: absolute;
    top: -2.2rem;
    left: 10.57rem;
    background-color: orange;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
}

.dica-msg:hover .dica-msg-texto {
    display: block;
}

.dica-msg-texto {
    position: absolute;
    left: 13.3rem;
    top: -2.1rem;
    display: none;
    color: red;
}


.form_input {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    min-width: 25rem;
    padding-left: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
}

.form_input.errado {
    border: solid 2px red;
    background: transparent;
    background-color: red;
}

.form_input.certo {
    border: solid 2px green;
    background-color: rgb(96, 172, 96);

}


/* #nome-input+span {
    position: relative;
}

#nome-input+span::before {
    content: '';
    position: absolute;
    top: -.8rem;
    left: -24.6rem;
    width: 24.3rem;
    height: 2.2rem;
    border: none;
    outline: 2px solid red;
    outline-offset: 3px;
    outline-width: 3px;
    animation: pulse 2s linear infinite;
    user-select: none;
} */


#cel-input {
    letter-spacing: .25rem;
}

#nome,
#email,
#cel,
#assunto,
#msg {
    position: relative;
}

.ajuda-texto {
    position: absolute;
    left: 27rem;
    top: 3.5rem;
    font-size: 2.3rem;
    color: red;
    display: none;
}

.ajuda-texto.active {
    display: block;
}



.last_input {
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    width: 100rem;
    height: 25rem;
    display: block;
    padding: 1rem 1rem;
    font-size: 1.6rem;

}

.last_input.errado {
    border: solid 2px red;
    background-color: red;
}

.last_input.certo {
    border: solid 2px green;
    background-color: rgb(96, 172, 96);

}

.ajuda-texto-msg {
    font-size: 2.3rem;
    margin-left: 1rem;
    color: red;
    display: none;

}

.ajuda-texto-msg.active {
    display: block;
}

select {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    width: 25rem;
    padding-left: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.assuntos.active {
    border: solid 2px green;
    background-color: rgb(96, 172, 96);
}


.btn-enviar {
    margin: 10px 0 20px 5px;
    width: 20rem;
    height: 5rem;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 6px;
    background-color: rgba(254, 129, 14, 1);
    color: white;
}

.btn-enviar:hover {
    background-color: rgb(18, 135, 170);
    color: rgb(2, 61, 27);

}

.btn-limpar {
    margin: 10px 0 20px 5px;
    width: 20rem;
    height: 5rem;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 6px;
    background-color: black;
    color: white;
}


.btn-limpar:hover {
    background-color: rgb(53, 52, 52);
    color: rgb(117, 2, 2);

}




@keyframes pulse {
    0% {
        outline-offset: .3rem;
        opacity: 1;
    }

    100% {
        outline-offset: 1.5rem;
        opacity: 0;
    }
}