html {
    font-size: 62.5%;
    box-sizing: border-box;
}


*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 6rem;
}


button {
    cursor: pointer;
    border-radius: 15px 4px 15px 4px;
    border: none;
    font-weight: 600;
}

.rodape {
    margin-top: 8rem;
    background-color: rgb(221, 241, 237);
    height: 25rem;
}

.rodape h3 {
    font-size: 3rem;
}

.rodape p {
    font-size: 20px;
}

.flex-rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tel {
    font-size: 2rem;
    font-weight: 600;
}

.email {
    font-size: 2rem;
    font-weight: 600;
}

.nav-rodape h3 {
    margin-top: 5rem;
}

.nav-rodape-coluna {
    display: flex;
    margin-left: -2rem;

}

.nav-rodape-left {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}


.nav-rodape-right {
    display: flex;
    flex-direction: column;
}


.link_nav_footer {
    width: fit-content;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    margin-top: 1rem;
    position: relative;
}

.link_nav_footer::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.6rem;
    width: 100%;
    height: .2rem;
    background: rgba(254, 129, 14, 1);
    border-radius: .5rem;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 1s;

}

.link_nav_footer:hover::after {
    transform-origin: left;
    transform: scaleX(1)
}


.siga-rodape {
    margin-bottom: 3.5rem;
}

.siga {
    margin-top: 0rem;
}


.siga-rodape i {
    margin-top: 1.5rem;
    margin-right: 1rem;
}

.fa-facebook {
    font-size: 3rem;
    color: rgb(66 103 178);

}

.fa-x-twitter {
    font-size: 3rem;
    color: rgb(37, 40, 41);
}

.fa-instagram {
    font-size: 3rem;
    color: rgb(131 58 180);
}


@keyframes pulse {
    0% {
        outline-offset: .3rem;
        opacity: 1;
    }

    100% {
        outline-offset: 1.5rem;
        opacity: 0;
    }
}