html {
    font-size: 62.5%;
    box-sizing: border-box;
}


*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 6rem;
}


button {
    cursor: pointer;
    border-radius: 15px 4px 15px 4px;
    border: none;
    font-weight: 600;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    position: relative;
}

#logo {
    max-width: 15vh;
    min-height: 16vh;
    margin-top: 1rem;
    border-radius: 2rem;
    position: relative;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 15%;
    font-size: 7rem;
    color: rgba(254, 129, 14, 1);
    cursor: pointer;
    display: none;
}

.link-nav {
    padding-left: -1rem;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    position: relative;
    margin-right: 2.3rem;
}

.link-nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 4px;
    background: rgba(254, 129, 14, 1);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 1s;

}

.link-nav:hover::after {
    transform-origin: left;
    transform: scaleX(1)
}

.btn-cadastro {
    width: 11em;
    height: 4em;
    margin-right: 2.7rem;
    background-color: black;
    color: white;
    position: relative;
}

.btn-cadastro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 4px 15px 4px;
    border: none;
    outline: 2px solid black;
    outline-offset: 3px;
    outline-width: 3px;
    animation: pulse 2s linear infinite;

}

.btn-login {
    width: 7.2em;
    height: 4em;
    background-color: rgba(254, 129, 14, 1);
    color: white;
    position: relative;

}

.btn-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 4px 15px 4px;
    border: none;
    outline: 2px solid rgba(254, 129, 14, 1);
    outline-offset: 3px;
    outline-width: 3px;
    animation: pulse 2s linear infinite;

}


@media (max-width: 1400px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 1300px) {


    #logo {
        left: -30%;
    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: .4s ease;
    }

    #check:checked~.navbar {
        display: block;
        height: 48rem;

    }

    .navbar a {
        display: block;
        font-size: 2.5rem;
        line-height: 4rem;
        width: 22rem;
        margin: .1rem auto;
        text-align: center;
        transform: translateY(-10px);
        opacity: 0;
        transition: .4s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .link-nav:hover::after {
        transform-origin: 0%;
        transform: scaleX(0);
    }


    .btn-cadastro {
        width: 8em;
        height: 4em;
        margin-right: 2.7rem;
        background-color: black;
        color: white;
        position: relative;
        bottom: -10%;
        left: -5%;
    }

    .btn-login {
        width: 5.2em;
        height: 4em;
        background-color: rgba(254, 129, 14, 1);
        color: white;
        position: relative;
        bottom: -10%;
        left: 0%;
    }

    header {
        margin-bottom: 40rem;
    }
}


@media (max-width: 680px) {

    .icons {
        right: 10%;
    }

    .navbar {
        left: 10%;
    }

}


@media (max-width: 600px) {

    .icons {
        right: 5%;
    }

    .navbar {
        left: 15%;
    }

}

@media (max-width: 540px) {
    #logo {
        left: -25%;
    }

    .icons {
        right: 10%;
    }

    .navbar {
        left: 22%;
    }

}

@media (max-width: 480px) {

    .icons {
        right: -25%;
    }

    .navbar {
        left: 29%;
    }

}

@media (max-width: 400px) {

    .icons {
        right: -35%;
    }

    .navbar {
        left: 38%;
    }

    .btn-cadastro {
        left: 15%;
    }

    .btn-login {

        left: 30%;
    }

}


@keyframes pulse {
    0% {
        outline-offset: .3rem;
        opacity: 1;
    }

    100% {
        outline-offset: 1.5rem;
        opacity: 0;
    }
}