/* Reset de estilos padrão do navegador */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(57, 127, 136, 0.788);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}


.form_label {
    /* padding-top: 5px;
    padding-bottom: 5px; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.form_input {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#last_input {
    margin-bottom: 15px;
    /* padding-bottom: 50px; */
}

footer {
    background-color: rgba(57, 127, 136, 0.788);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    height: 80px;
}