* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}


button {
    cursor: pointer;
    border-radius: 15px 4px 15px 4px;
    border: none;
    font-weight: 600;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid red 2px; */
    height: 80px;
}

#logo {
    font-size: 28px;
    font-weight: 600;
}

.link-nav {
    margin-left: 0px;
    padding-left: -10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.btn-cadastro {
    width: 148px;
    height: 54px;
    background-color: black;
    color: white;
}

.btn-login {
    width: 96px;
    height: 54px;
    background-color: rgba(254, 129, 14, 1);
    color: white;

}


h1,
h2,
h3,
h4 {
    text-align: center;
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 241, 237);
}

h3,
h4 {
    font-size: 28px;
}

.dias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    font-size: 24px;

}


.rodape {
    margin-top: 80px;
    background-color: rgb(221, 241, 237);
    height: 250px;
}

.rodape h3 {
    font-size: 30px;
}

.rodape p {
    font-size: 20px;
}

.flex-rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tel {
    font-size: 20px;
    font-weight: 600;
}

.email {
    font-size: 20px;
    font-weight: 600;
}

.nav-rodape h3 {
    margin-top: 50px;
}

.nav-rodape-coluna {
    display: flex;
    margin-left: -20px;

}

.nav-rodape-left {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}


.nav-rodape-right {
    display: flex;
    flex-direction: column;
}


.link_nav_footer {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}


.siga-rodape {
    margin-bottom: 35px;
}

.siga {
    margin-top: 0px;
}


.siga-rodape i {
    margin-top: 15px;
    margin-right: 10px;
}

.fa-facebook {
    font-size: 30px;
    color: rgb(66 103 178);

}

.fa-twitter {
    font-size: 30px;
    color: skyblue;
}

.fa-instagram {
    font-size: 30px;
    color: rgb(131 58 180);
}